<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>contact</title>
  </head>
  <body>
    <h1>WANT MY NUMBER?</h1>
    <h2>Chaching!</h2>
    <h3><%= quer.car %></h3>
  </body>
</html>
