<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>node</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <h2>I'M IN LOVE WITH PROGRAMMING!</h2>
    <h2>PFF(Programming Friend Forever)</h2>
    <h2 id='trial'>hello</h2>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
