<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landscapes</title>

    <link rel="stylesheet" href="../assets/index.css">
  </head>
  <body>
    <% include partials/contact.ejs %>
    <% include partials/nav.ejs %>
    <% include partials/index.ejs %>

    <h2>Welcome <%= custom %></h2>
    <h3>
      Cool Places
      <p>
        <ul>
          <% places.utah.forEach(function(info){ %>
            <li><%= info%></li>
          <% }) %>
        </ul>
      </p>
    </h3>

    <div>
      <img src="https://wallpapercave.com/wp/jgbFbWR.jpg" alt="paris">
    </div>
  </body>
</html>
