<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Sexy Page</title>
    <style>
      *{
        border: 0;
        margin: 0;
        padding: 0;
        list-style: none;
      }

      body{
        background: lightblue;
      }

      header{
        color: white;
        font-size: 40px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>FOR AWESOME PEOPLE ONLY!</h1>
      <h2>WELCOME! <%= names %></h2>
    </header>
  </body>
</html>
