<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>POST training</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<header>
		<h1>VIP SECTION</h1>
		<h2>Welcome Ballaz!</h2>
	</header>

	<div>
		<p>Congratulations, you're now a part of the club. Enjoy your stay!</p>
	</div>

	
</body>
</html>